<md-content flex layout-margin class="md-padding" layout-xs="column" ng-cloak>

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Login">

      <md-content>
        <md-autocomplete
        md-selected-item-change="$ctrl.login($ctrl.personaSearchSelectedItem, $event)"
        md-search-text="$ctrl.personaSearchText"
        md-selected-item="$ctrl.personaSearchSelectedItem"
        md-items="persona in $ctrl.getPersonas($ctrl.personaSearchText)" 
        placeholder="Search for a persona"
        md-item-text="persona.name">
        <md-item-template>
          <md-list-item>
                <img alt="Avatar" ng-src="{{persona.avatar}}" class="md-avatar" />
              
               <span md-highlight-text="$ctrl.personaSearchText">{{persona.name}}</span>
                 </md-list-item>
        </md-item-template>
        <md-not-found>
          No personas found.
          <a ng-click="$ctrl.newPersona(ctrl.searchText)">Create a new one!</a>
        </md-not-found>

        </md-autocomplete>

        <md-list>
          <md-subheader class="md-no-sticky">Recent Logins</md-subheader>
          <md-list-item ng-repeat="persona in $ctrl.recentPersonas" ng-click="$ctrl.login(persona, $event)">
            <img alt="NAME" ng-src="{{::persona.avatar}}" class="md-avatar" />
            <p>{{persona.name}}</p>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>





    <md-tab label="Manual">
      <md-content class="md-padding">
        <form name="manualEntryForm">

          <md-input-container class="md-block">
            <label>Email</label>
            <input required type="email" ng-model="$ctrl.manual.email">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" required ng-model="$ctrl.manual.password">
          </md-input-container>

          <md-checkbox ng-model="$ctrl.manual.rememberMe" aria-label="Remember Me">
            Remember Me?
          </md-checkbox>

          <section layout="row" layout-align="end center" layout-wrap>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="manualEntryForm.$invalid" ng-click="$ctrl.loginManual()">Login</md-button>
          </section>
        </form>

      </md-content>
    </md-tab>

    <md-tab label="Admin">
      <md-content>
        <h1 class="md-display-2">Persona Administration</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac
          dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin
          consectetur felis nec, feugiat ultricies mi.</p>
      </md-content>
    </md-tab>

  </md-tabs>
</md-content>